<!DOCTYPE html>
<html>

<head>
	
	<meta charset="UTF-8">
	
	<title>Rocksolid - App Showcase Agency</title>
	
	<link rel="stylesheet" href="/stylesheets/reset.css" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	
	<!-- PNG Fix for IE7 & IE8 -->
	<style type="text/css"> .app, .iphone { behavior: url(iepngfix/iepngfix.htc); }</style>
	<!-- End of PNG Fix -->
	
	<!-- Fontdeck custom font  
	<link rel="stylesheet" href="" type="text/css" />
	-->
		
	<cript src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="iepngfix/iepngfix_tilebg.js"></script>
	
	<!-- HTML5 Fix -->
	<script type="text/javascript" src="js/html5fix.js"></script>
	<!-- End of HTML5 Fix -->

<style type="text/css">
  #navigation {
    position:absolute;
    top:0;
    right:0;
    overflow:hidden;
    width:130px;
  }
  
  #navigation ul {
    clear:both;
    overflow:hidden;
    background:#fff;
    opacity:0.2;
    width:110px;
    float:right;
    position:relative;
    right:5px;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
  
  }
  #navigation ul li {
    
  }
  #navigation ul li a {
    display:block;
    color:#555;
    padding:5px;
    text-align:right;
  }
  #navigation ul li a:hover {
   color:#000;
   background:#FFFF99;
  }
</style>
</head>

<body>

	<div id="main">
		
		<header>
		
			<div class="content"  style="z-index:999; position:relative;">
        <div id="navigation">
          <div id="logo-new">
            <span>peapodd</span>
          </div>
          
          <ul style="display:none">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </div>
			</div>
		
		</header>
		
		<div id="top_content_homepage">
				
			<div class="content">
				
				<div id="slideshow">
  				<img src="/images/pealogo.png" class="app unitPng"/>
			  </div>
			
			  <div id="content-right">
			    <div class="description_homepage">
  					<p>
              Share your customers' success stories with the world.
  					</p>
  				</div>
			  </div>  
			</div>
		</div>

		
		<div class="content">
      <ul id="switch">
        <li><a href="#" class="active">Use Cases</a></li>
        <li><a href="#">Trusted By</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Data Visualizations</a></li>
      </ul>
      
      <div id="data">

        
        <div class="node">
          <div class="image">
            <span></span>
          </div>
          <div class="description">
            <h2><span>website: &#160;</span> <a href="#">http://pluspanda.com</a></h2>
          </div>
        </div>

        <div class="node">
          <div class="image">
            <span></span>
          </div>
          <div class="description">
            <h2><span>website: &#160;</span> <a href="#">http://github.com</a></h2>
          </div>
        </div>

        <div class="node">
          <div class="image">
            <span></span>
          </div>
          <div class="description">
            <h2><span>website: &#160;</span> <a href="#">http://hungryorange.com</a></h2>
          </div>
        </div>
                
      </div>

    </div>
		
    
		<footer>
				
			<div class="content">
				
				<p id="copyright">Copyright &copy; peapodd.com</p>
					
				<p id="w3c">About</p>
				
			</div> 
				
		</footer>
				
	</div>
	
</body>

</html>